body{
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/17/46/twitter-152404_1280.png");
    background-repeat: no-repeat;
}


.post{
    box-shadow: 1px 1px 3px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.post-text{
    font-weight: bold;
    word-break: break-all;
    display: inline;
}

.comments{
    word-break: break-all;
    margin: 10px;
    display: inline;
}

.delete{
    cursor: pointer;
    color: #ecf0f1;
    display: inline-block;
    padding: 0px;
    font-size: 0.8em;
    border: 0;
    float: right;    
}

.commantsWraps{
    position :relative;
    margin-left: 25px;
}

.post-comment{
    background-color: #3498db;
    border: 2px solid #2980b9;
    cursor: pointer;
    width: 10vw;
}

.container-add-comment{
    padding-left: 25px;
    padding-right: 25px;
}

.input-comment{
    width: 72vw;
}

.commantWraps{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ecf0f1;
    opacity: 90%;
}


.postWraps{
    background-color: #ecf0f1;
}

#container{
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h .""i b""p p"
}

#title{
    grid-area: h;
    color: #3498db;
}

#input{
    grid-area: i;
    padding: 10px;
    font-size: 1.5vw;
}

#posts{
    grid-area: p;
}

#post{
    grid-area: b;
    padding: 10px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    font-size: 2.5vw;
}

#post:active{
    background-color: #2980b9
}
